
/*Importo fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

:root {
    --blancoCrema: rgb(163, 163, 163); /*Hago una color del variable para poder reemplazarla cuando quiera sin modificar el resto del codigo*/
    --SecondaryColor: rgb(38, 136, 175);
    --BgColor: rgb(27, 27, 27);
    --TextColor: rgb(216, 216, 216);
    --extracolor: rgb(255, 136, 0));
}

/*estilos generales en todo el documento*/

* {
    box-sizing: border-box;
    margin: 0; /*Borramos margin y padding por defecto*/
    padding: 0;
    font-family: 'Figtree', sans-serif; 

}

body{
    background-color: var(--BgColor);
}

header{
    background-color: var(--BgColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 5px 10%;
    border-bottom: 3px solid var(--blancoCrema);
}




/*Quito subrayado de los enlaces*/
a {
    text-decoration: none;
}

h1 {
    color: var(--blancoCrema);
    font-size: 22px;
}
h2 {
    color: var(--blancoCrema);
    font-size: 15px;
}



.logo img {
    width: 35px; /* Ajusta el ancho deseado */
    height: auto; /* Mantén la proporción de aspecto original */
}

/*Estilo de links del nav (tienda, gratis, nosotros)*/

div.nav-link-container {

    width: 600px; /* Ajusta este valor según el ancho máximo deseado */
    display: flex;
    flex-direction: row-reverse;
}

ul.nav-links {

    list-style: none; /* Quito viñetas de la lista*/
    
}

ul.nav-links li {
    display: inline; /* Ordenamos la lista de forma horizontal*/
    margin-right: 55px;

}

ul.nav-links li a {
    text-decoration: none;
    position: relative;
    color: var(--blancoCrema);
    transition: color 0.5s ease; /*Transicion color*/

}

/*Animacion de subrayado cuando situamos el mouse encima*/

ul.nav-links li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px; /* Grosor del subrayado */
    bottom: -4px;
    left: 0;
    background-color: var(--SecondaryColor); /* Color del subrayado */
    transform: scaleX(0); /* Inicialmente, el subrayado está oculto */
    transform-origin: 0 100%;
    transition: transform 0.3s ease-in-out; /* Agregar una transición suave */
    
}

ul.nav-links li a:hover::after {
    transform: scaleX(1); /* Muestra el subrayado en el hover */
    
}

/*Cambio de color cuando situamos el mouse encima*/

ul.nav-links li a:hover {
    color: var(--SecondaryColor);
}

/*Estilos de iconos del header*/
div.nav-icons a {
    margin: 5px;
    color: var(--blancoCrema);
    vertical-align: middle

}

div.nav-icons a span.material-symbols-outlined {
    font-size: 22px; 
    transition: color 0.5s ease; /* Agrega una transición suave de 0.3 segundos */
}

/*Cambio de color cuando situamos el mouse encima*/

div.nav-icons a:hover span.material-symbols-outlined {
    color: var(--SecondaryColor);; 
}

/*Main prodcut*/



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--TextColor);
    margin-top: 20px; /* Ajusta según tus necesidades */
}

#product-container {
    background-color: black;
    display: flex;
    width: 1200px; /* Ajusta el ancho según tus necesidades */
    height: 450px;
    border-radius: 35px;
    margin: 0 auto; /* Centra el contenedor */
}

#leftSide {
    background-color: #0e0e0e;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px; /* Redondea la esquina superior derecha */
    border-bottom-left-radius: 30px; /* Redondea la esquina inferior derecha */
}


#product-image {
    width: 580px;
    height: 420px ;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--BgColor);
}

#rightSide {
    background-color: #0e0e0e;
    width: 50%;
    border-top-right-radius: 30px; /* Redondea la esquina superior derecha */
    border-bottom-right-radius: 30px; /* Redondea la esquina inferior derecha */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#info {
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(19, 19, 19);
    padding: 40px;
    height: 430px ;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#info h3 {
    font-size: 5vw; /* Utiliza vw en lugar de px */

}

#product-name {

    max-height: 400px;
}

.author {
    font-size: 20px;
    font-style: italic; /* Aplica la cursiva al texto dentro de #leftSide */
    
}

#download-container {

display: flex;
flex-direction: row;
margin-top: 150px;
justify-content: space-between;
border-radius: 20px;
}

#download-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: var(--SecondaryColor);
    height: 48px;
    transition: background-color 0.5s ease; /* Ajusta la duración y la función de temporización según tus preferencias */
}

#download-button:hover {
    background-color: rgb(27, 100, 129);
}

#metadata{

    width: 200px;
    text-align: left;
}